Source: libktomgirl
Priority: optional
Maintainer: Frederick Ollinger <follinge@gmail.com>
Build-Depends: debhelper, cmake, libpcre++-dev, libstdc++-dev, libpcre3-dev, libboost-filesystem-dev, libboost-dev, libboost-system-dev, libboost-date-time-dev, libsigc++-2.0-dev, libxml2-dev
Standards-Version: 3.9.2
Section: libs
Homepage: https://github.com/fredollinger/libktomgirl
#Vcs-Git: git://git.debian.org/collab-maint/libktomgirl.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libktomgirl.git;a=summary

Package: libktomgirl-dev
Section: libdevel
Architecture: any
Depends: libktomgirl (= 0.0.13-3)
Description: Allows compiling of applications that use the Tomboy File Format (development headers) 
 This is just a library and gives no actual end user interface to Tomboy style notes. 

Package: libktomgirl
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-filesystem1.67.0, libboost-date-time1.67.0, libboost-system1.67.0, libpcre3, libsigc++-2.0-0v5
Description: Implements the Tomboy File Format
 This is just a library and gives no actual end user interface to Tomboy style notes. 
